<div class="p-l-sm padder-v-sm">
	<div class="font-bold text-md b-b">发送图文消息</div>
	<div class="hbox padder-v-md">
		<div class="col col-md">图片：</div>
		<div class="col col-lg">
			<img class="img-xs" ng-src="{{msg.PIC_URL}}">
		</div>
		<div class="col p-r-sm">
			<input type="text" class="form-control " ng-model="msg.PIC_URL">
		</div>
		
	</div>
	<div class="hbox padder-v-md">
		<div class="col col-md">标题：</div>
		<div class="col p-r-sm">
			<input type="text" class="form-control" ng-model="msg.TITLE">
		</div>
	</div>
	<div class="hbox padder-v-md">
		<div class="col col-md">内容：</div>
		<div class="col p-r-sm">
			<textarea rows="3" cols="" class="form-control" ng-model="msg.MESSAGE_CONTENT"></textarea>
		</div>
	</div>
	
	<div class="hbox">
		<div class="col text-right p-r-sm">
			<a class="btn btn-info" ng-click="send()">发送</a>
		</div>
	</div>
</div>