<style>
	.w-20p{
		width: 50px;
	}
</style>
<a allen-footable no-search="true"
	url="/server/busTypeService!query" no-data-tip="暂无信息"
	pagesize='5' ft-top-title="客户分类管理" ft-result-array="resultArr"
	ft-titile="分类名称;状态;操作:format"
	ft-search="search"
	sort-Obj="sortObj"
	ft-item="name;state=='TRUE'?'正常':'删除';<a class='badge bg-info m-r-sm' ng-if='item.state!=sysTrue' title='启用' ng-click='unDisabled(item._id)'><i class='glyphicon glyphicon-ok'></i></a><a class='badge bg-danger m-r-sm' ng-if='item.state==sysTrue' ng-click='disabled(item._id)' title='禁用'><i class='glyphicon glyphicon-remove'></i></a>">
	<div class="hbox m-t-xs">
		<div class="col">
			<button class="btn btn-info"  ng-click='createBusType()'>新建客户分类</button>
		</div>
	</div>
	
</a>

